@font-face {
    src: url("e13b/micrenc.ttf");
    font-family: 'e13b';
}

.right {
    text-align: right;
}

.e13b {
    font-size: 2em;
    font-family: 'e13b';
}
.e13b .frrs::before, .e13b .cd::after {
    content: "a";
}
.e13b .abaii::before, .e13b .abaii::after {
    content: "d";
}
