{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'airline/css/bootstrap.min.css' %}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Logging Rethought 2: The Actions of Frank Taylor Jr.</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">FlyMe</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'new-booking' %}">Book Flight</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'bookings' %}">My Bookings</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'trips' %}">My Trips</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container mt-5">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-light">
        <nav class="navbar fixed navbar-light bg-light">
            <span class="navbar-text">
                Copyright &copy; 2019 by <a href="https://markusholtermann.eu/">Markus Holtermann</a>
            </span>
        </nav>
        <div class="container small">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-2 offset-lg-3 mt-3">
                    <div class="row">
                        <div class="col">
                            <strong>Travel</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'new-booking' %}">Book Flights</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'bookings' %}">My Bookings</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'trips' %}">My Trips</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2 mt-3">
                    <div class="row">
                        <div class="col">
                            <strong>Company</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2 mt-3">
                    <div class="row">
                        <div class="col">
                            <strong>Legal</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <small>*</small>Conditions apply
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'airline/js/jquery-3.3.1.slim.min.js' %}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="{% static 'airline/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
</body>

</html>
