{% extends "airline/base.html" %}
{% load tz %}

{% block content %}
<h1>Your bookings!</h1>

{% if object_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Booking ID</th>
            <th scope="col">Departure airport</th>
            <th scope="col">Departure time</th>
            <th scope="col">Arrival time</th>
            <th scope="col">Arrival airport</th>
            <th scope="col">Payment</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in object_list %}
        <tr>
            <td scope="row"><a href="{% url 'booking' pk=booking.pk %}">{{ booking.pk }}</a></td>
            <td>{{ booking.flight.departure_airport }}</td>
            <td>{{ booking.departure_date | timezone:booking.flight.departure_tz | date:"Y-M-d H:i" }}</td>
            <td>{{ booking.arrival_date | timezone:booking.flight.arrival_tz | date:"Y-M-d H:i" }}</td>
            <td>{{ booking.flight.arrival_airport }}</td>
            <td>{% if booking.payment_status == "pending" %}<a href="{% url 'new-booking-payment' pk=booking.pk %}">{{ booking.get_payment_status_display }}</a>{% else %}{{ booking.get_payment_status_display }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
No bookings yet!
{% endif %}
{% endblock %}
