{% extends "airline/base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="display-3">We FlyYou wherever <strong>you</strong><small style="font-size: 1rem;vertical-align: super;" class="small">*</small> want!</div>
    </div>
</div>
{% endblock %}
