{% extends "bank/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'bank/css/e13b.css' %}">

<h1>Checkbook</h1>

{% for check in object_list %}
<div>
    <div class="e13b d-inline mr-3" title="{{ check.aba_rtn }}"><span class="frrs">{{ check.aba_rtn_frrs }}</span><span
            class="abaii">{{ check.aba_rtn_abaii }}</span><span class="cd">{{ check.aba_rtn_cd }}</span></div>
    {% if check.used %}<span class="badge badge-danger">Used</span>{% else %}<span
        class="badge badge-success">Unused</span>{% endif %}
</div>
{% empty %}
<div class="alert alert-info" role="alert">
    No checks yet. Get some.
</div>
{% endfor %}

<a href="{% url 'new-checks' %}">New checks</a>

{% endblock %}
