{% extends "bank/base.html" %}

{% block content %}
<h1>Notifications</h1>

{% for notification in object_list %}
<div class="card bg-light mb-3">
    <div class="card-body">
        {{ notification.message | linebreaks }}
        <p class="card-text"><small class="text-muted">{{ notification.timestamp }}</small></p>
    </div>
</div>
{% empty %}
<p>No notifications</p>
{% endfor %}
{% endblock %}
